In [1]:
import pandas as pd

In [9]:
df=pd.read_csv('Book1.csv',skiprows=1) #also same think do header=1
df

        date  temp  low tmp  mid temp   cost
0   1/6/2016    33        4        35  30.50
1   1/7/2016    39       11        33  30.28
2   1/8/2016    39       29        64  30.20
3   1/9/2016    44       38        77  30.16
4  1/10/2016    50       46        71  29.59
5  1/11/2016    33        8        37  29.92
6  1/12/2016    35       15        53  29.85
7  1/13/2016    26        4        42  29.94